body{
    background-color: #ffffff;
    }
    
#barra{
    background-color: #0D3B66;
}
    .wrapper{
    width: 100;
    height: 100%;
    }
    
    .carrossel{
    width: 100;
    height: 100%;
    margin-top: 70px;
    }
    
    
    #medicina{
    position: absolute;
    background-color:#001D3D;
    color:#000;
    top: 1300px;
    width:1500px;
    height: 700px;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    padding-bottom: 25%;
    text-size-adjust:auto;
    text-align: center;
    }
    
    #medicina2{
    position: absolute;
    background-color:#FFFFFF ;
    color:#000000;
    top: 300px;
    width:350px;
    height: 500px;
    left: 45%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    padding-bottom: 15%;
    margin-top:1230px;
    margin-left: 350px;
    }
    
    #psicologia{
    position: absolute;
    background-color:#002E58;
    color:#000;
    top: 2100px;
    width:1500px;
    height: 700px;
    left: 50%;
    padding-bottom: 25%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    text-size-adjust:auto;
    text-align: center;
    }
    
    #psicologia2{
    position: absolute;
    background-color:#FFFFFF;
    color:#000000;
    top: 2100px;
    width:350px;
    height: 500px;
    left: -10%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    padding-bottom: 15%;
    padding: 7%;
    margin-top:250px;
    margin-left: 350px;
    }

    #psi{
        
        margin-left: -80px;
        margin-top:-105px;
        
    }
    
    #terapia{
    position: absolute;
    background-color:#002E58;
    color:#000000;
    top: 1950px;
    width:1500px;
    height: 700px;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    padding-bottom: 25%;
    margin-top:940px;
    text-align: center;
    
    }
    
    #terapia2{
    position: absolute;
    background-color:#FFFFFF ;
    color:#000000;
    width:350px;
    height: 500px;
    left: 45%;
    transform: translate(-50%,50%);
    border-radius: 15px;
    padding-bottom: 15%;
    margin-top:2370px;
    margin-left: 350px;
    }
    
    #estetica{
    position: absolute;
    background-color:#265473;
    color:#000000;
    top: 2300px;
    width:1500px;
    height: 700px;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    padding-bottom: 25%;
    margin-top:1400px;
    text-align: center;
    
    }
    
    #estetica2{
    position: absolute;
    background-color:#FFFFFF ;
    color:#000000;
    width:350px;
    left: -10%;
    height: 500px;
    transform: translate(-50%,50%);
    border-radius: 15px;
    padding-bottom: 15%;
    margin-top:3170px;
    margin-left: 350px;
    }
    
    #nutricao{
    position: absolute;
    background-color:#216C8B;
    color:#000000;
    top: 2705px;
    width:1500px;
    height: 700px;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    padding-bottom: 25%;
    margin-top:1800px;
    text-align: center;
    }
    
    #nutricao2{
    position: absolute;
    background-color:#FFFFFF ;
    color:#000000;
    width:350px;
    height: 500px;
    left: 45%;
    transform: translate(-50%,50%);
    border-radius: 15px;
    padding-bottom: 15%;
    margin-top:3975px;
    margin-left: 350px;
    }
    
    #enfermagem{
    position: absolute;
    background-color:#006FAA;
    color:#000000;
    top: 3130px;
    width:1500px;
    height: 700px;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    padding-bottom: 25%;
    margin-top:2200px;
    }
    
    #enfermagem2{
    position: absolute;
    background-color:#FFFFFF ;
    color:#000000;
    width:350px;
    height: 500px;
    left: -10%;
    transform: translate(-50%,50%);
    border-radius: 15px;
    padding-bottom: 15%;
    margin-top:4808px;
    margin-left: 350px;
    }
    
    #odontologia{
    position: absolute;
    background-color:#0486B0;
    color:#000000;
    top: 3550px;
    height: 700px;
    width:1500px;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 20px;
    padding-bottom: 25%;
    margin-top:2600px;
    text-align: center;
    }
    
    #odontologia2{
    position: absolute;
    background-color:#FFFFFF ;
    color:#000000;
    width:350px;
    height: 500px;
    left: 45%;
    transform: translate(-50%,50%);
    border-radius: 15px;
    padding-bottom: 15%;
    margin-top:5640px;
    margin-left: 350px;
    }

    #laboratorio{

    margin-top:6640px ;
    margin-left: 30px;
    height: 700px;
    width:1500px;
    }
    .produto-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    }
    
    @media screen and (max-width:768px){
    .produto-container{
    width: 100%;
    flex-direction:column;
    }
    }

    #cienciassaude{
    position: absolute;
    background-color:#002E58;
    width:1500px;
    height: 700px;
    border-radius: 20px;
    left: 20px;
    top: 880px;
    }

    #basetexto{
    position: absolute;
    width: 619px;
    height: 442px;
    left: 32px;
    top: 980px;

    background: #023E8A;
    border-radius: 40px;

    }
    
    .ciencias{
    position: absolute;
    width: 1350px;
    height: 695px;
    left: 35px;
    top: 840px;
    margin-left: 200px;
    
    background: #00296B;
    border-radius: 50px;
    }

    #tema{
    top: 1010px;
    left: 50%;
    margin-left: 600px;
    width:350px;
    height: 500px;
    }

    .titulo{
     position: absolute;
     width: 1167px;
    height: 136px;
    left: -250px;
    top: 812px;

    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 16px;
    margin-left: 500px;

    color: #000000;

    }

    #footer{
        top: 9597px;
        margin-left: -20px;
        width: 100%;
        height: auto;
        position: absolute;
    }